%p
  Bonjour #{@name},

%p
  Une demande de changement de mot de passe a été demandée pour votre compte.
  %br/
  Si vous êtes à l’origine de cette demande, il vous suffit de cliquer sur le lien suivant :
  = link_to "Changer mon mot de passe", edit_password_url(@resource, reset_password_token: @token)

%p
  Le lien ne fonctionne pas ? Copiez l'adresse suivante dans votre navigateur :
  = edit_password_url(@resource, reset_password_token: @token)

%p
  Si vous n’êtes pas à l’origine de cette demande, vous pouvez simplement ignorer cet e-mail.
  %br/
  Votre mot de passe ne sera pas modifié tant que vous n’aurez pas cliqué sur le lien ci-dessus et saisi un nouveau mot de passe.

%p
  À très bientôt !
