use_ssl: false
app_name: 'App_name_FIXME'
app_domain: 'FIXME.com'
baseline: 'Best app ever'
reply_email: 'contact@FIXME'
mailer_email: 'contact@FIXME'
admin_email: 'admin@FIXME'
mailjet:
  api_key: ''
  secret_key: ''
facebook:
  app_id: ''
  app_secret: ''
  url: 'https://www.facebook.com/FIXME'
twitter:
  url: 'https://twitter.com/FIXME'
google_plus:
  url: 'https://plus.google.com/FIXME'
linked_in:
  url: 'https://www.linkedin.com/profile/view?id=FIXME&trk=nav_responsive_tab_profile'